.abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*

POWER CARD

*/
.power-card {
  height: 72px;
  position: relative;
  overflow: hidden;
}
.power-card md-card-avatar {
  margin-left: 0 !important;
  outline: 0;
}
.power-card md-card-actions {
  visibility: hidden;
}
.power-card .md-title {
  font-weight: 600;
}
.power-card:hover {
  background-color: #BBDEFB;
}
.power-card.selected {
  background-color: #DCEDC8;
}
.power-card.expanded {
  height: auto;
}
.power-card.expanded .md-title {
  font-size: 20px;
  line-height: 40px;
}
.power-card.expanded .md-subhead {
  display: none;
}
.power-card.expanded md-card-actions {
  visibility: visible;
}
.power-card .power-card-header {
  outline: 0;
}
.power-card .power-card-badge {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
}
.power-card .power-card-badge.energy {
  background-color: yellow;
}
.power-card .power-card-badge.upkeep {
  background-color: blue;
}
.power-card .power-card-description .card-line {
  margin-bottom: 5px;
}
.power-card .power-card-description .card-line .card-line-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.power-card .power-card-description .card-line .card-line-text {
  margin: 0;
  font-size: 14px;
}
/*

DIALOG HINT

*/
.dialog-hint .hint-icon {
  padding: 5px;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
}
.dialog-hint .hint-icon md-icon {
  color: black;
}
.dialog-hint .dialog-hint-content {
  position: relative;
  padding: 16px;
}
.dialog-hint .dialog-hint-content .hint-line {
  margin-bottom: 5px;
}
.dialog-hint .dialog-hint-content .hint-line .hint-line-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
}
.dialog-hint .dialog-hint-content .hint-line .hint-line-text {
  margin: 0;
  font-size: 14px;
}
body {
  max-width: 800px;
  margin: auto;
}
.hint-link {
  color: #FF9800;
  font-weight: bold;
}
.padded-content {
  padding: 8px;
}
.sidenav .sidenav-content .md-button {
  border-radius: 0;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
.section-sheet .vanishing-fab.visible {
  transform: scale(1);
  transition: transform 0.3s linear;
}
.section-sheet .vanishing-fab {
  transform: scale(0);
  transition: transform 0.3s linear;
}
.section-sheet .toolbar-info {
  margin-right: 1em;
}
.section-sheet .toolbar-info:last-child {
  margin-right: 0;
}
.section-sheet .character-power-list .power-card:last-child {
  margin-bottom: 100px;
}
.section-sheet .character-sheet .sheet-hero-wounds {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  position: relative;
  font-weight: 600;
  font-size: 60px;
}
.section-sheet .character-sheet .sheet-hero-wounds::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: .2;
  z-index: -1;
  background: url("icons/chained-heart.svg") no-repeat;
  background-size: contain;
}
.section-sheet .character-sheet .sheet-hero-energy {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  position: relative;
  font-weight: 600;
  font-size: 60px;
}
.section-sheet .character-sheet .sheet-hero-energy::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: .2;
  z-index: -1;
  background: url("icons/round-star.svg") no-repeat;
  background-size: contain;
}
.section-sheet .character-section-title {
  text-align: center;
  margin: 0.5em;
}
.section-sheet .effect-icon {
  outline: 0;
}
.section-sheet .effect-icon img {
  opacity: 0.2;
}
.section-sheet .effect-icon img.active {
  opacity: 1;
}
.section-sheet .effect-icon .effect-icon-name {
  font-size: 8px;
  text-align: center;
}
.section-sheet .character-stats {
  padding: 8px;
}
.section-profile .profile-header .profile-avatar {
  border-radius: 50px;
}
.section-profile .profile-header .profile-username {
  margin: 0;
  padding: 18px 8px;
}
.section-hero .stat-number {
  font-family: monospace;
  font-size: 24px;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  line-height: 56px;
  font-weight: 600;
  text-align: center;
}
.section-hero .stat-untrained {
  color: #B6B6B6;
}
