@pal-primary-dark:   #1976D2;
@pal-primary:	       #2196F3;
@pal-primary-light:  #BBDEFB;
@pal-text:				   #fff;
@pal-accent:	       #FF9800;
@pal-danger:				 #FF5252;
@pal-text-primary:   #212121;
@pal-text-secondary: #727272;
@pal-divider:	       #B6B6B6;
@pal-main-area-bg:	 #eee;
@pal-success:				 #5cb85c;