<!doctype html>
<meta charset="UTF-8">
<title>ndnd - login</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- FONTS -->
<for each="font in data.fonts">
    <link rel="stylesheet" media="all" href="$font">
</for>

<!-- CSS -->
<for each="style in data.styles">
    <link rel="stylesheet" media="all" href="$style">
</for>
<link rel="stylesheet" media="all" href="client/application.css">

<!-- SCRIPTS -->
<for each="script in data.scripts">
    <script src="$script"></script>
</for>
<script src="client/application.js"></script>

<form ng-app="LoginApp" ng-cloak>
    <div>
        <label>username</label>
        <input name="username" type="text">
    </div>
    <div>
        <label>password</label>
        <input name="password" type="password">
    </div>
    <button type="submit">SUBMIT</button>
</form>
