<!doctype html>
<html lang="en" ng-app="ndndLogin" ng-cloak>
    
<head>
  
  <meta charset="UTF-8">
  <title>ndnd</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- FONTS -->
  <for (font in data.fonts)>
    <link rel="stylesheet" media="all" href="${font}">
  </for>
  
  <!-- CSS -->
  <for (style in data.styles)>
    <link rel="stylesheet" media="all" href="${style}">
  </for>
  <link rel="stylesheet" media="all" href="client/application.css">
  
  <!-- SCRIPTS -->
  <for (script in data.scripts)>
    <script src="${script}"></script>
  </for>
  <script src="client/application.js"></script>
  <script>window.history.pushState("", document.title, window.location.pathname);</script>
</head>

<body layout="column" layout-padding ng-include="'client/angular/login/login.html'">
  <!-- ng-include -->
</body>

</html>
