<div layout="column" flex>
  
  <md-content>
    
    <md-card class="power-card" 
             ng-class="{'expanded':perk.expanded}" 
             ng-repeat="perk in ctrl.hero.perks"
             ng-include="'client/angular/templates/_perk.html'">
    </md-card>

  </md-content>

</div>

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.goToStep(4)">prev</md-button>
    <span flex></span>
    <md-button ng-click="ctrl.goToStep(6)">next</md-button>
  </div>
</md-toolbar>

<md-button class="md-fab md-mini md-fab-bottom-right" style="margin-bottom: 45px;" aria-label="Add New Perk" ng-click="ctrl.chooseNewPerks()">
  <md-icon>add</md-icon>
</md-button>
