<md-dialog aria-label="Select New Power(s)" ng-cloak>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
      <h2>Select New Power(s)</h2>
      <span flex></span>
      <md-button ng-click="ctrl.ok()" ng-disabled="!ctrl.okEnabled">
        done
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>

    <md-card class="power-card" ng-class="{'expanded':power.expanded, 'selected':power.selected}" ng-repeat="power in ::ctrl.powers">
      <md-card-header class="power-card-header" ng-click="power.expanded = !power.expanded" layout="row">
        <md-card-avatar ng-click="ctrl.selectPower(power, $event)">
          <img ng-src="client/icons/sources/{{::power.source}}.svg" ng-if="!power.selected" />
          <md-icon ng-if="power.selected">check</md-icon>
        </md-card-avatar>
        <md-card-header-text flex>
          <span class="md-title">{{::power.name}}</span>
          <span class="md-subhead">{{::power.action}} {{::power.type ? '- ' + power.type : ''}}</span>
        </md-card-header-text>
        <div class="power-card-badge energy" ng-if="::power.energy">{{::power.energy}}</div>
        <div class="power-card-badge upkeep" ng-if="::power.upkeep">{{::power.upkeep}}</div>
      </md-card-header>
      <md-card-content class="power-card-description" ng-if="power.expanded">
        <div class="card-line">
          <h5 class="card-line-title">Action</h5>
          <p class="card-line-text">{{::power.action}}</p>
        </div>
        <div class="card-line" ng-if="::power.type">
          <h5 class="card-line-title">Type</h5>
          <p class="card-line-text">{{::power.type}}</p>
        </div>
        <div class="card-line" ng-if="::power.requirements">
          <h5 class="card-line-title">Requirements</h5>
          <p class="card-line-text" compile="::power.requirements"></p>
        </div>
        <div class="card-line" ng-if="::power.target">
          <h5 class="card-line-title">Target(s)</h5>
          <p class="card-line-text">{{::power.target}}</p>
        </div>
        <div class="card-full-text" compile="::power.effect"></div>

      </md-card-content>
    </md-card>

  </md-dialog-content>
</md-dialog>