<div layout="column" flex>

  <md-content>

    <md-card class="power-card" 
             ng-class="{'expanded':power.expanded}" 
             ng-repeat="power in ctrl.hero.powers"
             ng-include="'client/angular/templates/_power.html'">
    </md-card>

  </md-content>

</div>

<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="ctrl.goToStep(3)">prev</md-button>
    <span flex></span>
    <md-button ng-click="ctrl.goToStep(5)">next</md-button>
  </div>
</md-toolbar>

<md-button class="md-fab md-mini md-fab-bottom-right" style="margin-bottom: 45px;" aria-label="Add New Power" ng-click="ctrl.chooseNewPowers($event)">
  <md-icon>add</md-icon>
</md-button>
