<form name="ctrl.step6Form" layout="column" flex>

  <div layout="column" flex>

    <md-content layout="column" flex class="padded-content">

      <md-input-container class="md-block">
        <label>Armor</label>
        <md-select ng-model="ctrl.hero.armor" name="armor" required>
          <md-option ng-repeat="equip in ctrl.resources.equipments | filter: { type: 'armor' }" value="{{equip.id}}">
            {{equip.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block" ng-repeat="wieldable in ctrl.hero.wieldables track by $index">
        <label>Item {{ctrl.getWieldableType($index)}}</label>
        <md-select ng-model="ctrl.hero.wieldables[$index]" required>
          <md-option ng-repeat="equip in ctrl.resources.equipments | filter: { type: '!armor' }" value="{{equip.id}}">
            {{equip.name}}
          </md-option>
        </md-select>
        <md-icon ng-click="ctrl.removeWieldable($index)">delete</md-icon>
      </md-input-container>

    </md-content>

  </div>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="ctrl.goToStep(5)">prev</md-button>
      <span flex></span>
      <md-button ng-disabled="ctrl.step6Form.$invalid" ng-click="ctrl.goToStep(7)">next</md-button>
    </div>
  </md-toolbar>

</form>

<md-button class="md-fab md-mini md-fab-bottom-right" style="margin-bottom: 45px;" aria-label="Add New Item" ng-click="ctrl.addWieldable()">
  <md-icon>add</md-icon>
</md-button>
