<md-sidenav md-component-id="left" aria-label="Open Main Menu" md-is-locked-open="$mdMedia('gt-sm')" class="sidenav">

  <md-toolbar layout="row" class="md-whiteframe-z1 sidenav-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" hide-gt-sm ng-click="toggleSidenav()"><md-icon>close</md-icon></md-button>
      <h3>ndnd</h3>
    </div>
  </md-toolbar>
  
  <md-content flex role="navigation" class=" sidenav-content">
    
    <a class="md-button" ui-sref="ndnd.profile" ng-click="toggleSidenav()">Profile</a>
    
  </md-content>

</md-sidenav>

<div flex 
  layout="column" 
  tabIndex="-1" 
  role="main" 
  class="md-whiteframe-z2 {{$state.current.sectionClass}}" 
  ui-view>
  <!-- ui-view -->
</div>
