<md-dialog aria-label="Select New Perk(s)" ng-cloak>
  
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
      <h2>Select New Perk(s)</h2>
      <span flex></span>
      <md-button ng-click="ctrl.ok()" ng-disabled="!ctrl.okEnabled">
        done
      </md-button>
    </div>
  </md-toolbar>
  
  <md-dialog-content>

    <md-card class="power-card" ng-class="{'expanded':perk.expanded, 'selected':perk.selected}" ng-repeat="perk in ::ctrl.perks">
      <md-card-header class="power-card-header" ng-click="perk.expanded = !perk.expanded" layout="row">
        <md-card-avatar ng-click="ctrl.selectPerk(perk, $event)">
          <img ng-src="client/icons/perk.svg" ng-if="!perk.selected" />
          <md-icon ng-if="perk.selected">check</md-icon>
        </md-card-avatar>
        <md-card-header-text flex>
          <span class="md-title">{{::perk.name}}</span>
        </md-card-header-text>
      </md-card-header>
      <md-card-content class="power-card-description" ng-if="perk.expanded">
        <div class="card-line" ng-if="::perk.requirements">
          <h5 class="card-line-title">Requirements</h5>
          <p class="card-line-text" compile="::perk.requirements"></p>
        </div>
        <div class="card-full-text" compile="::perk.effect"></div>
      </md-card-content>
    </md-card>

  </md-dialog-content>
</md-dialog>